@model ICA_01_2015ICT36.Models.Rent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Rent</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BranchNo_Ref)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BranchNo_Ref)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Owner_Ref)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Owner_Ref)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StaffNo_Ref)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StaffNo_Ref)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ptype)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ptype)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rooms)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rooms)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rent)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PropertyNo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
